<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="logo">
                <img width="100%" src="assets/images/MifosX_logo.png">
            </div>

            <div class="title">Crea tu Cuenta</div>

            <form name="registerForm" novalidate ng-submit="submit()">
                <md-input-container class="md-block" md-no-float>
                    <input name="accountNumber" ng-model="vm.form.accountNumber" placeholder="Número de Cuenta"
                           required>
                    <div ng-messages="registerForm.accountNumber.$error" role="alert">
                        <div ng-message="required">
                            <span>El Número de Cuenta es Requerido</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input name="username" ng-model="vm.form.username" placeholder="Usuario"
                           required>
                    <div ng-messages="registerForm.username.$error" role="alert">
                        <div ng-message="required">
                            <span>El Usuario es requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex class="md-block" md-no-float>
                        <input name="firstName" ng-model="vm.form.firstName" placeholder="Nombre (s)"
                               required>
                        <div ng-messages="registerForm.firstName.$error" role="alert">
                            <div ng-message="required">
                                <span>El Nombre es requerido</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex class="md-block" md-no-float>
                        <input name="lastName" ng-model="vm.form.lastName" placeholder="Apellido(s)"
                               required>
                        <div ng-messages="registerForm.lastName.$error" role="alert">
                            <div ng-message="required">
                                <span>El Apellido es requerido</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Correo Electrónico"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>El Correo Eletrónico es requerido</span>
                        </div>
                        <div ng-message="pattern">
                            <span>El Correo Eletrónico debe ser valido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="phone" name="mobile" ng-model="vm.form.mobileNumber" placeholder="Teléfono Celular">
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Clave"
                           required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>La Clave es requerida</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="passwordConfirm"
                           placeholder="Clave (Confirmar)"
                           required>
                    <div ng-messages="registerForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span>Es requerido Confirmar la Clave</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="terms" layout="row" layout-align="center center">
                    <md-checkbox name="terms" ng-model="data.cb1" aria-label="Los he heido y acepto" required></md-checkbox>
                    <div layout="row" layout-sm="column" layout-align="start center">
                        <span>Los he heido y acepto</span>
                        <a href="#" class="md-accent-color">Términos y Condiciones</a>
                    </div>
                </div>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Crear mi Cuenta"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine">
                    Crear mi Cuenta
                </md-button>
            </form>

            <div class="login" layout="row" layout-xs="column" layout-align="center center">
                <span class="text">¿Tienes tu Cuenta?</span>
                <a class="link" ui-sref="login">Inicia Sesión</a>
            </div>
        </div>
    </div>
</div>